.btn {
    margin: 3px;
    height: 50px;
    width: 70px;
}

.row {
    background-color: black;
    opacity: 50%;
    width: 35%;
}

#display_area {
    height: 15vh;
    text-align: end;
    color: white;
    font-size: 45px;
}

.equal {
    background-color: rgb(128, 94, 8);
}

.equal:hover {
    background-color: rgb(240, 176, 17);
}

.margin-class {
    padding: 5%;
}

.container {
    margin: 0px auto;
}

html {
    text-align: center;
}